
<link href="~/Content/nc.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/_mixins.css" rel="stylesheet" />
<link href="~/Content/_variables.css" rel="stylesheet" />
<link href="~/Content/glyphicons.css" rel="stylesheet" />
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/vertmenu.css" rel="stylesheet" />
<script src="~/Scripts/app/SortOrder.js"></script>


@*<div class="wrapper">
    <div class="header-wrapper">*@
<header>
    <div class="navbar-fixed-top">
        @Html.Partial("_LoginPartial")
        <div class="container">



            <div class="header-product">
                <a class="product-link" id="productLink">
                    <span>Visma Project Overwiew</span>
                </a>
            </div>

        </div>
    </div>
</header>
@*</div>
    </div>*@


<body class="greyPattern-backgr">
    <!-- ngView:  -->
    <div ng-view="visible-md visible lg" class="view-content ng-scope">
        <!--Mobile view-->
        <div ng-view class="visible-xs mobileview ng-scope">
            <header class="navbar navbar-fixed-top container no-side-margin mobile-header"></header>

        </div>
        <div class="app-content" style="position:relative;min-height:669px;">
            <div id="columns" draggable="true">

                @{
                    var numberOfProjects = (int)ViewData["NumberOfProjects"];
                }

                @for (var i = 1; i <= 10; i++)
                {
                    <div class="col-md-4" draggable="true">
                        <form>
                            <!--     </div>-->
                            <!-- <fieldset style="width: 425px; height: 240px; margin: 4px; float:left; border: 2px solid navy">-->
                            <!-- <legend>Projekt @i</legend>-->
                            <!--   <div style="width: 400px; height: 250px; margin: 0 4px 7px 4px 2px">-->
                            <div class="rcorners2">
                                <fieldset>
                                    <div id="@string.Format("legend{0}", i)" class="projectledgend">No data</div>@*Projekt @i</legend>*@
                                    @*<div style="width: 100px; height: 20px; float: left; margin-top: 40px;">
                                <div style="margin-top:-30px; margin-left:20px;">Rubrik</div>*@
                                    <div id="@string.Format("container-speed{0}", i)" style="width: 130px; height: 120px; float: left; margin-bottom: 20px; margin-left: 15px; margin-right: 0px; margin-top: 0px;"></div>
                                    @*</div>
                                <div style="width: 100px; height: 20px; float: left; margin-top: 40px;">
                                    <div style="margin-top:-30px; margin-left:20px;">Rubrik</div>*@
                                    <div id="@string.Format("container-rpm{0}", i)" style="width: 120px; height: 147px; float: left; margin: 10px; margin-top:0px;"></div>
                                    @*</div>*@
                                </fieldset>
                            </div>

                        </form>
                    </div>
                }
            </div>
            </div>
        </div>
</body>
<!--
            <div class="col-md-4">
                <h2>Your information</h2>
                <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
                <p data-bind="text: myHometown"></p>

                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                    It's now easier than ever before to getting started writing highly interactive web applications.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
</div>

            <!-- /ko -->
