
<!-- ko with: home -->
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    div {
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
-->
@{
    var numberOfProjects = (int)ViewData["NumberOfProjects"];
}

@for (var i = 1; i <= 10; i++)
{
    <div class="col-md-4">
        <form>
            <!--     </div>-->
           <!-- <fieldset style="width: 425px; height: 240px; margin: 4px; float:left; border: 2px solid navy">-->
                <!-- <legend>Projekt @i</legend>-->
                <!--   <div style="width: 400px; height: 250px; margin: 0 4px 7px 4px 2px">-->
                <div id ="rcorners2">
                    <fieldset>
                        <legend id="@string.Format("legend{0}", i)" style="margin: 5px;">No data</legend>@*Projekt @i</legend>*@
                        <div id="@string.Format("container-speed{0}", i)" style="width: 127px; height: 120px; float: left; margin: 20px"></div>
                        <div id="@string.Format("container-rpm{0}", i)" style="width: 127px; height: 120px; float: left; margin: 20px"></div>
                    </fieldset>
</div>

</form>
    </div>


}
            <!--
            <div class="col-md-4">
                <h2>Your information</h2>
                <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
                <p data-bind="text: myHometown"></p>

                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </div>


            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                    It's now easier than ever before to getting started writing highly interactive web applications.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            -->
            <!-- /ko -->
