<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Visma eAccounting Time</title>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/nc.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="~/Content/_mixins.css" rel="stylesheet" />
    <link href="~/Content/_variables.css" rel="stylesheet" />
    <link href="~/Content/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/vertmenu.css" rel="stylesheet" />
</head>
<body class="greyPattern-backgr">
    @*<div class="navbar-fixed-top">
        <div class="container">*@
            @*<div class="navbar-collapse collapse">
                <div class="header-product" data-bind="visible: displayServiceSelectorDropdown()">
                    <a class="product-link" id="productLink" data-bind="click: toggleProductDropdown, css: { selected: isProductDropdownVisible }">
                        <span data-bind="text: mainHeaderMenuHeader">Visma eAccounting</span>
                    </a>
                </div>
                @Html.Partial("_LoginPartial")
            </div>*@
        @*</div>
    </div>*@
    @*<div class="main">*@
    <div class="content-holder" style="margin-left:1.5%">
        <div class="wrapper blue_backgrounds" style="height:100%; max-width:1018px; float:left;">

            <div class="no-padding side-menu collapse in sidebar-offcanvas">
                <div class="bs-sidebar static-nav icons-nav panel affix-top" style="overflow:auto;">
                    <div class="heading" style="z-index: 2;"></div>
                    <ul class="nav bs-sidenav">
                        <li data-ng-repeat="menuItem in menuItems" id="timeRegistration" data-ng-class="getClasses(menuItem)" class="ng-scope">
                            <a href="#" class="timesheetMenuLink noChildren" data-ng-class="{'noChildren': menuItem.childNodes.length == 0}">Time registration</a>
                            <ul class="nav">
                                <!-- ngRepeat: subMenuItem in menuItem.childNodes -->
                            </ul>
                        </li>
                        <li data-ng-repeat="menuItem in menuItems" id="outlays" data-ng-class="getClasses(menuItem)" class="ng-scope">
                            <a href="#" class="reconciliationMenuLink noChildren" data-ng-class="{'noChildren': menuItem.childNodes.length == 0}">Outlays</a>
                            <ul class="nav">
                                <!-- ngRepeat: subMenuItem in menuItem.childNodes -->
                            </ul>
                        </li>
                        <li data-ng-repeat="menuItem in menuItems" id="invoiceBasis" data-ng-class="getClasses(menuItem)" class="ng-scope visible-lg visible-md visible-sm">
                            <a href="/#" class="accountingMenuLink noChildren" data-ng-class="{'noChildren': menuItem.childNodes.length == 0}">Invoicing basis</a>
                            <ul class="nav">
                                <!-- ngRepeat: subMenuItem in menuItem.childNodes -->
                            </ul>
                        </li>
                        <li data-ng-repeat="menuItem in menuItems" id="invoiceBasis" data-ng-class="getClasses(menuItem)" class="ng-scope visible-lg visible-md visible-sm active">
                            <a href="/#" class="accountingMenuLink2 noChildren" data-ng-class="{'noChildren': menuItem.childNodes.length == 0}">Project overview</a>
                            <ul class="nav bs-subnav">
                                <!-- ngRepeat: subMenuItem in menuItem.childNodes -->
                                <li id="projectOverviewSub" data-ng-class="getClasses(menuItem)"><a href="#">Project overview</a></li>
                                <li id="projectOverviewSettings" data-ng-class="getClasses(menuItem)"><a href="#">Settings</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>



            @*<div class="container body-content">*@
            <div style="margin-left:230px; float:left; margin-top:-245px; width:970px; height:1027px;" class="main-content no-padding hide-overflow row-offcanvas row-offcanvasleft full-height active" ng-class="rowOffCanvasClass">
                <div class="content-wrap fixed-block full-height">
                    <div ng-view class="view-content ng-scope" style="height:1026px;">
                        <section class="content-block grey-bar fixed-content">
                            <h1 style="margin:0px; line-height:27px; font-size:12px;">Project overview</h1>
                        </section>
                        @RenderBody()
                        @RenderSection("SPAViews", required: false)

                        <footer>
                            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                        </footer>
                    </div>
                </div>
            </div>
        </div>


    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
</body>
</html>
